In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

C:\Users\Kishan\anaconda3\lib\site-packages\requests\__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.7) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [2]:
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=BOM&originCountry=IN&destination=AMD&destinationCountry=IN&flight_depart_date=15%2F03%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=1463850007432'

driver1=webdriver.Chrome('C:/Users/Kishan/Downloads/chromedriver_win32/chromedriver.exe')
driver1.get(url)
time.sleep(35)

<ipython-input-2-530a6478fa70>:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver1=webdriver.Chrome('C:/Users/Kishan/Downloads/chromedriver_win32/chromedriver.exe')

In [3]:
url = []

dates = ['15','16','17','18','19','20','21','22']

for i in dates:
    url.append(f"https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=BOM&originCountry=IN&destination=AMD&destinationCountry=IN&flight_depart_date={i}%2F03%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=1463850007432")
url

['https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=BOM&originCountry=IN&destination=AMD&destinationCountry=IN&flight_depart_date=15%2F03%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=1463850007432',
 'https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=BOM&originCountry=IN&destination=AMD&destinationCountry=IN&flight_depart_date=16%2F03%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=1463850007432',
 'https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=BOM&originCountry=IN&destination=AMD&destinationCountry=IN&flight_depart_date=17%2F03%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=1463850007432',
 'https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=BOM&originCountry=IN&destination=AMD&destinationCountry=IN&flight_depart_date=18%2F03%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=1463850007432',
 'https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=BOM&originCountry=IN&destination=AMD&destinationCountry=IN&flight_depart_date=19%2F03%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=1463850007432',
 'https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=BOM&originCountry=IN&destination=AMD&destinationCountry=IN&flight_depart_date=20%2F03%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=1463850007432',
 'https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=BOM&originCountry=IN&destination=AMD&destinationCountry=IN&flight_depart_date=21%2F03%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=1463850007432',
 'https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=BOM&originCountry=IN&destination=AMD&destinationCountry=IN&flight_depart_date=22%2F03%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=1463850007432']

In [4]:
Company = []
Dept_time = []
Arrival_time = []
Stops = []
Price = []


for a in url:
    driver1.get(a)
    driver1.execute_script("window.scrollTo(0,11000000);")
    time.sleep(35)

    comp = driver1.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span[1]")
    comp
    for i in comp:
        company= i.text
        Company.append(company)
    len(Company)

    dept = driver1.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
    dept
    for i in dept:
        dept= i.text
        Dept_time.append(dept)
    len(Dept_time)

    arr = driver1.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
    arr
    for i in arr:
        arr= i.text
        Arrival_time.append(arr)
    len(Arrival_time)

    stop = driver1.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span[1]")
    stop
    for i in stop:
        stop= i.text
        Stops.append(stop)
    len(Stops)


    price = driver1.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
    price
    for i in price:
        price= i.text
        Price.append(price)
    len(Price)

<ipython-input-4-50acdb68fb4d>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  comp = driver1.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span[1]")
<ipython-input-4-50acdb68fb4d>:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  dept = driver1.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
<ipython-input-4-50acdb68fb4d>:27: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  arr = driver1.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
<ipython-input-4-50acdb68fb4d>:34: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  stop = driver1.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span[1]")
<ipython-input-4-50acdb68fb4d>:42: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price = driver1.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")

In [5]:
len(Company)

280

In [6]:
Company1 = []
Dept_time1 = []
Arrival_time1 = []
Stops1 = []
Price1 = []

url = []

dates = ['15','16','17','18','19','20','21']

for i in dates:
    url.append(f"https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date={i}%2F03%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1037379808890&version=1.2&viewName=normal")
url

['https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=15%2F03%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1037379808890&version=1.2&viewName=normal',
 'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=16%2F03%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1037379808890&version=1.2&viewName=normal',
 'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=17%2F03%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1037379808890&version=1.2&viewName=normal',
 'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=18%2F03%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1037379808890&version=1.2&viewName=normal',
 'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=19%2F03%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1037379808890&version=1.2&viewName=normal',
 'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=20%2F03%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1037379808890&version=1.2&viewName=normal',
 'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=21%2F03%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1037379808890&version=1.2&viewName=normal']

In [7]:

for a in url:
    driver1.get(a)
    driver1.execute_script("window.scrollTo(0,11000000);")
    time.sleep(35)

    comp = driver1.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span[1]")
    comp
    for i in comp:
        company= i.text
        Company1.append(company)
    len(Company1)

    dept = driver1.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
    dept
    for i in dept:
        dept= i.text
        Dept_time1.append(dept)
    len(Dept_time1)

    arr = driver1.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
    arr
    for i in arr:
        arr= i.text
        Arrival_time1.append(arr)
    len(Arrival_time1)

    stop = driver1.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span[1]")
    stop
    for i in stop:
        stop= i.text
        Stops1.append(stop)
    len(Stops1)


    price = driver1.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
    price
    for i in price:
        price= i.text
        Price1.append(price)
    len(Price1)

<ipython-input-7-7c172438ea9d>:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  comp = driver1.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span[1]")
<ipython-input-7-7c172438ea9d>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  dept = driver1.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
<ipython-input-7-7c172438ea9d>:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  arr = driver1.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
<ipython-input-7-7c172438ea9d>:27: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  stop = driver1.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span[1]")
<ipython-input-7-7c172438ea9d>:35: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price = driver1.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")

len(Arrival_time)
Arrival_time = list(filter(None,Arrival_time))
len(Arrival_time)

len(Dept_time)
Dept_time = list(filter(None,Dept_time))
len(Dept_time)

len(Price)
Price = list(filter(None,Price))
len(Price)

In [8]:
Company2 = []
Dept_time2 = []
Arrival_time2 = []
Stops2 = []
Price2 = []

url = []

dates = ['15','16','17','18','19','20','21']

for i in dates:
    url.append(f"https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=MAA&destinationCountry=IN&flexi=0&flight_depart_date={i}%2F03%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=753194175488&version=1.1&viewName=normal")
url

['https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=MAA&destinationCountry=IN&flexi=0&flight_depart_date=15%2F03%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=753194175488&version=1.1&viewName=normal',
 'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=MAA&destinationCountry=IN&flexi=0&flight_depart_date=16%2F03%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=753194175488&version=1.1&viewName=normal',
 'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=MAA&destinationCountry=IN&flexi=0&flight_depart_date=17%2F03%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=753194175488&version=1.1&viewName=normal',
 'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=MAA&destinationCountry=IN&flexi=0&flight_depart_date=18%2F03%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=753194175488&version=1.1&viewName=normal',
 'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=MAA&destinationCountry=IN&flexi=0&flight_depart_date=19%2F03%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=753194175488&version=1.1&viewName=normal',
 'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=MAA&destinationCountry=IN&flexi=0&flight_depart_date=20%2F03%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=753194175488&version=1.1&viewName=normal',
 'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=MAA&destinationCountry=IN&flexi=0&flight_depart_date=21%2F03%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=753194175488&version=1.1&viewName=normal']

In [9]:

for a in url:
    driver1.get(a)
    driver1.execute_script("window.scrollTo(0,11000000);")
    time.sleep(35)

    comp = driver1.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span[1]")
    comp
    for i in comp:
        company= i.text
        Company2.append(company)
    len(Company2)

    dept = driver1.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
    dept
    for i in dept:
        dept= i.text
        Dept_time2.append(dept)
    len(Dept_time2)

    arr = driver1.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
    arr
    for i in arr:
        arr= i.text
        Arrival_time2.append(arr)
    len(Arrival_time2)

    stop = driver1.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span[1]")
    stop
    for i in stop:
        stop= i.text
        Stops2.append(stop)
    len(Stops2)


    price = driver1.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
    price
    for i in price:
        price= i.text
        Price2.append(price)
    len(Price2)

<ipython-input-9-7a50f0ac2ec0>:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  comp = driver1.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span[1]")
<ipython-input-9-7a50f0ac2ec0>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  dept = driver1.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
<ipython-input-9-7a50f0ac2ec0>:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  arr = driver1.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
<ipython-input-9-7a50f0ac2ec0>:27: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  stop = driver1.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span[1]")
<ipython-input-9-7a50f0ac2ec0>:35: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price = driver1.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")

In [10]:
Company3 = []
Dept_time3 = []
Arrival_time3 = []
Stops3 = []
Price3 = []

url = []

dates = ['15','16','17','18','19','20','21']

for i in dates:
    url.append(f"https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=HYD&destinationCountry=IN&flexi=0&flight_depart_date={i}%2F03%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=54119525318&viewName=normal")
url


for a in url:
    driver1.get(a)
    driver1.execute_script("window.scrollTo(0,11000000);")
    time.sleep(35)

    comp = driver1.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span[1]")
    comp
    for i in comp:
        company= i.text
        Company3.append(company)
    len(Company3)

    dept = driver1.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
    dept
    for i in dept:
        dept= i.text
        Dept_time3.append(dept)
    len(Dept_time3)

    arr = driver1.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
    arr
    for i in arr:
        arr= i.text
        Arrival_time3.append(arr)
    len(Arrival_time3)

    stop = driver1.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span[1]")
    stop
    for i in stop:
        stop= i.text
        Stops3.append(stop)
    len(Stops3)


    price = driver1.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
    price
    for i in price:
        price= i.text
        Price3.append(price)
    len(Price3)

<ipython-input-10-639ad3640156>:21: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  comp = driver1.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span[1]")
<ipython-input-10-639ad3640156>:28: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  dept = driver1.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
<ipython-input-10-639ad3640156>:35: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  arr = driver1.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
<ipython-input-10-639ad3640156>:42: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  stop = driver1.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span[1]")
<ipython-input-10-639ad3640156>:50: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price = driver1.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")

In [11]:
Company4 = []
Dept_time4 = []
Arrival_time4 = []
Stops4 = []
Price4 = []

url = []

dates = ['15','16','17','18','19','20','21']

for i in dates:
    url.append(f"https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date={i}%2F03%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=503691320454&version=1.1&viewName=normal")
url


for a in url:
    driver1.get(a)
    driver1.execute_script("window.scrollTo(0,11000000);")
    time.sleep(35)

    comp = driver1.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span[1]")
    comp
    for i in comp:
        company= i.text
        Company4.append(company)
    len(Company4)

    dept = driver1.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
    dept
    for i in dept:
        dept= i.text
        Dept_time4.append(dept)
    len(Dept_time4)

    arr = driver1.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
    arr
    for i in arr:
        arr= i.text
        Arrival_time4.append(arr)
    len(Arrival_time4)

    stop = driver1.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span[1]")
    stop
    for i in stop:
        stop= i.text
        Stops4.append(stop)
    len(Stops4)


    price = driver1.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
    price
    for i in price:
        price= i.text
        Price4.append(price)
    len(Price4)

<ipython-input-11-fd319329e18b>:21: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  comp = driver1.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span[1]")
<ipython-input-11-fd319329e18b>:28: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  dept = driver1.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
<ipython-input-11-fd319329e18b>:35: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  arr = driver1.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
<ipython-input-11-fd319329e18b>:42: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  stop = driver1.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span[1]")
<ipython-input-11-fd319329e18b>:50: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price = driver1.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")

In [12]:
Company5 = []
Dept_time5 = []
Arrival_time5 = []
Stops5 = []
Price5 = []

url = []

dates = ['15','16','17','18','19','20','21']

for i in dates:
    url.append(f"https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date={i}%2F03%2F2022&hb=0&noOfSegments=1&origin=CCU&originCountry=IN&type=O&unique=625784368026&version=1.1&viewName=normal")


for a in url:
    driver1.get(a)
    driver1.execute_script("window.scrollTo(0,11000000);")
    time.sleep(35)

    comp = driver1.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span[1]")
    comp
    for i in comp:
        company= i.text
        Company5.append(company)
    len(Company5)

    dept = driver1.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
    dept
    for i in dept:
        dept= i.text
        Dept_time5.append(dept)
    len(Dept_time5)

    arr = driver1.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
    arr
    for i in arr:
        arr= i.text
        Arrival_time5.append(arr)
    len(Arrival_time5)

    stop = driver1.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span[1]")
    stop
    for i in stop:
        stop= i.text
        Stops5.append(stop)
    len(Stops5)


    price = driver1.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
    price
    for i in price:
        price= i.text
        Price5.append(price)
    len(Price5)

<ipython-input-12-2fe6263d2020>:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  comp = driver1.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span[1]")
<ipython-input-12-2fe6263d2020>:27: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  dept = driver1.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
<ipython-input-12-2fe6263d2020>:34: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  arr = driver1.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
<ipython-input-12-2fe6263d2020>:41: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  stop = driver1.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span[1]")
<ipython-input-12-2fe6263d2020>:49: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price = driver1.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")

In [13]:
Company6 = []
Dept_time6 = []
Arrival_time6 = []
Stops6 = []
Price6 = []

url = []

dates = ['15','16','17','18','19','20','21']

for i in dates:
    url.append(f"https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=JAI&destinationCountry=IN&flexi=0&flight_depart_date={i}%2F03%2F2022&hb=0&noOfSegments=1&origin=MAA&originCountry=IN&type=O&unique=604972704419&version=1.1&viewName=normal")


for a in url:
    driver1.get(a)
    driver1.execute_script("window.scrollTo(0,11000000);")
    time.sleep(35)

    comp = driver1.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span[1]")
    comp
    for i in comp:
        company= i.text
        Company6.append(company)
    len(Company6)

    dept = driver1.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
    dept
    for i in dept:
        dept= i.text
        Dept_time6.append(dept)
    len(Dept_time6)

    arr = driver1.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
    arr
    for i in arr:
        arr= i.text
        Arrival_time6.append(arr)
    len(Arrival_time6)

    stop = driver1.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span[1]")
    stop
    for i in stop:
        stop= i.text
        Stops6.append(stop)
    len(Stops6)


    price = driver1.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
    price
    for i in price:
        price= i.text
        Price6.append(price)
    len(Price6)

<ipython-input-13-9abee0c4119c>:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  comp = driver1.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span[1]")
<ipython-input-13-9abee0c4119c>:27: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  dept = driver1.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
<ipython-input-13-9abee0c4119c>:34: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  arr = driver1.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
<ipython-input-13-9abee0c4119c>:41: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  stop = driver1.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span[1]")
<ipython-input-13-9abee0c4119c>:49: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price = driver1.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")

In [14]:
Company7 = []
Dept_time7 = []
Arrival_time7 = []
Stops7 = []
Price7 = []

url = []

dates = ['15','16','17','18','19','20','21']

for i in dates:
    url.append(f"https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=GOI&destinationCountry=IN&flexi=0&flight_depart_date={i}%2F03%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=548653715999&version=1.4&viewName=normal")


for a in url:
    driver1.get(a)
    driver1.execute_script("window.scrollTo(0,11000000);")
    time.sleep(35)

    comp = driver1.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span[1]")
    comp
    for i in comp:
        company= i.text
        Company7.append(company)
    len(Company7)

    dept = driver1.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
    dept
    for i in dept:
        dept= i.text
        Dept_time7.append(dept)
    len(Dept_time7)

    arr = driver1.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
    arr
    for i in arr:
        arr= i.text
        Arrival_time7.append(arr)
    len(Arrival_time7)

    stop = driver1.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span[1]")
    stop
    for i in stop:
        stop= i.text
        Stops7.append(stop)
    len(Stops7)


    price = driver1.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
    price
    for i in price:
        price= i.text
        Price7.append(price)
    len(Price7)

<ipython-input-14-85e8d2f0c144>:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  comp = driver1.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span[1]")
<ipython-input-14-85e8d2f0c144>:27: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  dept = driver1.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
<ipython-input-14-85e8d2f0c144>:34: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  arr = driver1.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
<ipython-input-14-85e8d2f0c144>:41: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  stop = driver1.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span[1]")
<ipython-input-14-85e8d2f0c144>:49: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price = driver1.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")

In [15]:
Company8 = []
Dept_time8 = []
Arrival_time8 = []
Stops8 = []
Price8 = []

url = []

dates = ['15','16','17','18','19','20','21']

for i in dates:
    url.append(f"https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=GOI&destinationCountry=IN&flexi=0&flight_depart_date={i}%2F03%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1412927615164&version=1.4&viewName=normal")


for a in url:
    driver1.get(a)
    driver1.execute_script("window.scrollTo(0,11000000);")
    time.sleep(35)

    comp = driver1.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span[1]")
    comp
    for i in comp:
        company= i.text
        Company8.append(company)
    len(Company8)

    dept = driver1.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
    dept
    for i in dept:
        dept= i.text
        Dept_time8.append(dept)
    len(Dept_time8)

    arr = driver1.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
    arr
    for i in arr:
        arr= i.text
        Arrival_time8.append(arr)
    len(Arrival_time8)

    stop = driver1.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span[1]")
    stop
    for i in stop:
        stop= i.text
        Stops8.append(stop)
    len(Stops8)


    price = driver1.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
    price
    for i in price:
        price= i.text
        Price8.append(price)
    len(Price8)

<ipython-input-15-8decd4f51907>:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  comp = driver1.find_elements_by_xpath("//div[@class='fs-13 airline-name no-pad col-8']/span[1]")
<ipython-input-15-8decd4f51907>:27: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  dept = driver1.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
<ipython-input-15-8decd4f51907>:34: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  arr = driver1.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
<ipython-input-15-8decd4f51907>:41: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  stop = driver1.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span[1]")
<ipython-input-15-8decd4f51907>:49: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price = driver1.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")

In [16]:
Price = Price + Price1 + Price2 + Price3 + Price4 + Price5+ Price6 + Price7 + Price8
Dept_time = Dept_time + Dept_time1 + Dept_time2 + Dept_time3 + Dept_time4 + Dept_time5 + Dept_time6 + Dept_time7 + Dept_time8
Arrival_time = Arrival_time + Arrival_time1 + Arrival_time2 + Arrival_time3 + Arrival_time4 + Arrival_time5 + Arrival_time6 + Arrival_time7 + Arrival_time8
Company = Company + Company1 + Company2 + Company3 + Company4 + Company5 + Company6 + Company7 + Company8
Stops = Stops + Stops1 + Stops2 + Stops3 + Stops4 + Stops5 + Stops6 + Stops7 + Stops8

In [17]:
len(Price), len(Dept_time), len(Arrival_time),len(Company),len(Stops)

(2205, 2205, 2205, 2205, 2205)

In [18]:
Flight=pd.DataFrame({})
Flight['Company']=Company
Flight['Dept_time']=Dept_time
Flight['Arrival_time']=Arrival_time
Flight['Stops']=Stops
Flight['Price']=Price

In [27]:
Flight

,Company,Dept_time,Arrival_time,Stops,Price,Col2
0,Go First,19:15\nMumbai,20:25\nAhmedabad,Non Stop,"5,102",Mumbai
1,Go First,22:50\nMumbai,00:15\n+ 1 day\nAhmedabad,Non Stop,"5,102",Mumbai
2,Go First,14:10\nMumbai,19:30\nAhmedabad,1 Stop,"5,102",Mumbai
3,Go First,18:00\nMumbai,23:35\nAhmedabad,1 Stop,"5,102",Mumbai
4,Go First,15:20\nMumbai,22:15\nAhmedabad,1 Stop,"5,102",Mumbai
...,...,...,...,...,...,...
2200,Air Asia,13:05\nMumbai,19:35\nGoa,2 Stop(s),"10,905",Mumbai
2201,Air India,09:30\nMumbai,20:30\nGoa,1 Stop,"10,983",Mumbai
2202,IndiGo,14:05\nMumbai,15:15\nGoa,Non Stop,"11,928",Mumbai
2203,SpiceJet,11:35\nMumbai,12:50\nGoa,Non Stop,"11,928",Mumbai
2204,SpiceJet,15:30\nMumbai,17:05\nGoa,Non Stop,"11,928",Mumbai

In [38]:

Flight['Price'] = Flight['Price'].str.replace(',',"")
Flight['Price'] = Flight['Price'].astype(int)

In [28]:
split_data = Flight['Dept_time'].str.split("\n")
data = split_data.to_list()
names = ["Dept_time", "From"]
my_df = pd.DataFrame(data, columns=names)

In [29]:
my_df

     Dept_time    From
0        19:15  Mumbai
1        22:50  Mumbai
2        14:10  Mumbai
3        18:00  Mumbai
4        15:20  Mumbai
...        ...     ...
2200     13:05  Mumbai
2201     09:30  Mumbai
2202     14:05  Mumbai
2203     11:35  Mumbai
2204     15:30  Mumbai

[2205 rows x 2 columns]

In [30]:
split_data = Flight['Arrival_time'].str.split("\n")
data = split_data.to_list()
names = ["Arrival_time","Day", "To"]
my_df1 = pd.DataFrame(data, columns=names)

In [31]:
my_df1

     Arrival_time        Day         To
0           20:25  Ahmedabad       None
1           00:15    + 1 day  Ahmedabad
2           19:30  Ahmedabad       None
3           23:35  Ahmedabad       None
4           22:15  Ahmedabad       None
...           ...        ...        ...
2200        19:35        Goa       None
2201        20:30        Goa       None
2202        15:15        Goa       None
2203        12:50        Goa       None
2204        17:05        Goa       None

[2205 rows x 3 columns]

In [32]:
my_df1['To'].fillna(my_df1['Day'], inplace=True)

In [36]:

my_df1 = my_df1.drop(['Day'], axis = 1)

In [37]:
my_df1

     Arrival_time         To
0           20:25  Ahmedabad
1           00:15  Ahmedabad
2           19:30  Ahmedabad
3           23:35  Ahmedabad
4           22:15  Ahmedabad
...           ...        ...
2200        19:35        Goa
2201        20:30        Goa
2202        15:15        Goa
2203        12:50        Goa
2204        17:05        Goa

[2205 rows x 2 columns]

In [41]:
Flight = Flight.drop(['Dept_time','Arrival_time'], axis = 1)

In [42]:
df = pd.concat([Flight, my_df,my_df1], axis=1)

In [44]:
df = df.drop(['Col2'], axis = 1)

In [45]:
df

        Company      Stops  Price Dept_time    From Arrival_time         To
0      Go First   Non Stop   5102     19:15  Mumbai        20:25  Ahmedabad
1      Go First   Non Stop   5102     22:50  Mumbai        00:15  Ahmedabad
2      Go First     1 Stop   5102     14:10  Mumbai        19:30  Ahmedabad
3      Go First     1 Stop   5102     18:00  Mumbai        23:35  Ahmedabad
4      Go First     1 Stop   5102     15:20  Mumbai        22:15  Ahmedabad
...         ...        ...    ...       ...     ...          ...        ...
2200   Air Asia  2 Stop(s)  10905     13:05  Mumbai        19:35        Goa
2201  Air India     1 Stop  10983     09:30  Mumbai        20:30        Goa
2202     IndiGo   Non Stop  11928     14:05  Mumbai        15:15        Goa
2203   SpiceJet   Non Stop  11928     11:35  Mumbai        12:50        Goa
2204   SpiceJet   Non Stop  11928     15:30  Mumbai        17:05        Goa

[2205 rows x 7 columns]

In [46]:
df.shape

(2205, 7)